@import "tailwindcss";

@theme {
  --color-primary: var(--color-white);
  --color-background: var(--color-black);
}

html,
body {
  overscroll-behavior: contain;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}
