@import "tailwindcss";

@theme {
  --color-primary: var(--color-white);
  --color-background: var(--color-black);
}

html,
body {
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}
